<div class="container">
    <h1>Welcome to the Blog</h1>
    <p>Here you will find all the latest posts</p>
    <div class="row">     
        <div class="col-sm-4">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary">อ่านเพิ่มเติม</a>
              </div>
            </div>
        </div>
    </div>
</div>